# user systemd file for managing Caution frontend

[Unit]
Description=Caution frontend service
Requires=caution-network.service
After=caution-network.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f frontend
ExecStart=/usr/bin/docker run --name frontend --network caution-network -p 3000:3000 --env-file %h/.config/caution/.env caution-frontend
ExecStop=/usr/bin/docker stop frontend

[Install]
WantedBy=default.target
