# user systemd file for managing Caution gateway

[Unit]
Description=Caution postgres instance

[Service]
ExecStartPre=-/usr/bin/docker rm -f postgres
ExecStart=/usr/bin/docker run --name postgres --network caution-network -v caution-postgres-data:/var/lib/postgresql/data -e POSTGRES_DB=caution -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=postgres -p 127.0.0.1:5432:5432 postgres:16-alpine
ExecStop=/usr/bin/docker stop postgres

[Install]
WantedBy=default.target
