# user systemd file for managing Caution email

[Unit]
Description=Caution Email service
Requires=caution-network.service
After=caution-postgres.service caution-network.service

[Service]
ExecStart=/usr/bin/python3 %h/.config/caution/releases/current/launch-service.py email
ExecStop=/usr/bin/docker stop email

[Install]
WantedBy=default.target
