# user systemd file for Caution's Docker network

[Unit]
Description=Caution Docker network

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/docker network inspect caution-network >/dev/null 2>&1 || /usr/bin/docker network create caution-network'

[Install]
WantedBy=default.target
