# user systemd file for managing Caution gateway

[Unit]
Description=Caution gateway service
Requires=caution-network.service
After=caution-api.service caution-postgres.service caution-network.service

[Service]
ExecStart=/usr/bin/python3 %h/.config/caution/releases/current/launch-service.py gateway
ExecStop=/usr/bin/docker stop gateway

[Install]
WantedBy=default.target
