# user systemd file for managing Caution metering

[Unit]
Description=Caution Metering service
Requires=caution-network.service
After=caution-postgres.service caution-network.service

[Service]
ExecStart=/usr/bin/python3 %h/.config/caution/releases/current/launch-service.py metering
ExecStop=/usr/bin/docker stop metering

[Install]
WantedBy=default.target
